In [14]:
import pandas as pd
import numpy as np

train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')

train.head()

,date_time,wind_direction,sky_condition,precipitation_form,wind_speed,humidity,low_temp,high_temp,Precipitation_Probability,number_of_rentals
0,2018-04-01,207.500,4.000,0.000,3.050,75.000,12.600,21.000,30.000,22994
1,2018-04-02,208.317,2.950,0.000,3.278,69.833,12.812,19.000,19.500,28139
2,2018-04-03,213.516,2.911,0.000,2.690,74.879,10.312,15.316,19.113,26817
3,2018-04-04,143.836,3.692,0.425,3.138,71.849,8.312,12.368,43.493,26034
4,2018-04-05,95.905,4.000,0.723,3.186,73.784,5.875,10.421,63.378,2833

In [10]:
from sklearn.linear_model import LinearRegression #sklearn 라이브러리에서 선형회귀(Linear Regression) 모델 임포트
from sklearn.metrics import mean_absolute_error #sklearn 라이브러리에서 평균 절대 오차를 계산하는 함수 임포트

X=train.drop(columns=['number_of_rentals', 'date_time', 'wind_direction', 'low_temp', 'humidity'])
X_test=test.drop(columns=['date_time', 'wind_direction', 'low_temp', 'humidity'])

y=train['number_of_rentals']

In [13]:
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import Ridge
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
import numpy as np

X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.2, random_state=42)

# 데이터 스케일링 (X만 스케일링)
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_valid_scaled = scaler.transform(X_valid)
X_test_scaled = scaler.transform(X_test)

model=LinearRegression()
model.fit(X_train_scaled, y_train)

train_pred=model.predict(X_train_scaled) #train set으로 예측값 생성
train_valid=model.predict(X_valid_scaled) #valid set으로 예측값 생성
test_pred=model.predict(X_test_scaled) #test set으로 예측값 생성


nmae_train=mean_absolute_error(y_train, train_pred)/np.mean(y_train) #train set의 평균 절대 오차 계산
nmae_valid=mean_absolute_error(y_valid, train_valid)/np.mean(y_valid) #valid set의 평균 절대 오차 계산

print('train nmae:', nmae_train) #train set의 평균 절대 오차 출력
print('valid nmae:', nmae_valid) #valid set의 평균 절대 오차 출력

train nmae: 0.315270094066131
valid nmae: 0.30129670596853114